@model ProjetoESW.Models.Accounting

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="header">
        <h2>Conta - @Html.DisplayFor(model => model.Description)</h2>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-4">
                <span><b>Número de Movimentos:</b> @Html.DisplayFor(model => model.Movements.Count)</span>
            </div>
            <div class="col-md-4">
                <span><b>Saldo:</b> @(String.Format("{0:C}", this.Model.Balance()))</span>
            </div>
        </div>



        <a onclick="addCredit(@this.Model.AccountingID);" class="btn btn-primary btn-export">
            <i class="fa fa-plus"></i> Creditar
        </a>
        <a onclick="addDebit(@this.Model.AccountingID);" class="btn btn-primary btn-export">
            <i class="fa fa-minus"></i> Debitar
        </a>

    </div>
</div>

@Html.Partial("../AccountMovements/index", Model.Movements, new ViewDataDictionary(this.ViewData) { { "layout", "none" } })


<script>

    function addCredit(id) {
        swal.queue([
            {
                text: 'Descrição do Crédito',
                content: "input",
                input: 'text'
            },
            {
                text: 'Qual o valor a Creditar?',
                content: "input",
                input: 'number',
                inputAttributes: {
                    min: 0,
                    step: 0.01
                }
            }
        ]).then(function (result) {
            if (result.value[1] > 0) {
                $.ajax({
                    type: "post", 
                    url: "/AccountMovements/MyCreate?AccountID=" + id + "&Description="+result.value[0] + "&value=" + result.value[1],
                    ajaxasync: true,
                    success: function () {
                        location.reload();
                    }
                });
            }
        })
    }
    function addDebit(id) {
        swal.queue([
            {
                text: 'Descrição do Débito',
                content: "input",
                input: 'text'
            },
            {
                text: 'Qual o valor a Debitar?',
                content: "input",
                input: 'number',
                inputAttributes: {
                    min: 0,
                    step: 0.01
                }
            }
        ]).then(function (result) {
            if (result.value[1] > 0) {
                $.ajax({
                    type: "post",
                    url: "/AccountMovements/MyCreate?AccountID=" + id + "&Description=" + result.value[0] + "&value=-" + result.value[1],
                    ajaxasync: true,
                    success: function () {
                        location.reload();
                    }
                });
            }
        })
    }
</script>