@model IEnumerable<ProjetoESW.Models.Accounting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="header">
        <h2>Lista de Contas</h2>
    </div>
    <div class="body">
        <table class="table" id="accounts">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        Número Movimentos
                    </th>
                    <th>
                        Saldo
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Movements.Count)
                        </td>
                        <td>
                            @($"{item.Balance():C}")
                        </td>
                        <td>
                        <a asp-action="Details" asp-route-id="@item.AccountingID"><li class="fa fa-eye"></li></a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<script>
        function erase(id) {
            swal({
                title: "Confirmar?",
                text: "Tem a certeza que pretende eliminar este Movimento?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#5e3023',
                cancelButtonColor: '#cf5c36',
                confirmButtonText: 'Sim, Eliminar!',
                cancelButtonText: 'Não, Cancelar!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "get", 
                        url: "/Movements/Delete/" + id,
                        ajaxasync: true,
                        success: function () {
                            location.reload();
                        }
                    });
                } else {
                    swal("Cancelado", "Tipo de Item não vai ser eliminado", "error");
                }
            });
        }
</script>

<script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>

<script>
        //Exportable table
        var table = $('#accounts').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });

        table.columns.adjust().draw();
</script>
