@model IEnumerable<ProjetoESW.Models.Animals.Breed>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="header">
        <h2>Raças</h2>
    </div>
    <div class="body">
        <table id="raças" class="table table-striped table-hover dataTable js-exportable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Specie)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specie.Name)
                        </td>
                        <td>
                            <a asp-controller="Breeds" asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-eye"></i></a>
                            @if (!item.HaveAnimals())
                            {
                                <a onclick="erase(@item.ID);" style="cursor: pointer;"><i class="fa fa-trash"></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-action="Create" class="btn btn-primary btn-export">
            <i class="fa fa-plus"></i> Adicionar
        </a>


    </div>
</div>

<script>
        function erase(id) {
            swal({
                title: "Confirmar?",
                text: "Tem a certeza que pretende eliminar esta Raça?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#5e3023',
                cancelButtonColor: '#cf5c36',
                confirmButtonText: 'Sim, Eliminar!',
                cancelButtonText: 'Não, Cancelar!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "get",
                        url: "/Breeds/Delete/" + id,
                        ajaxasync: true,
                        success: function () {
                            location.reload();
                        }
                    });
                } else {
                    swal("Cancelado", "Raça não vai ser eliminada", "error");
                }
            });
        }

        
</script>

<script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>

<script>
        //Exportable table
        var table = $('#raças').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });

        table.columns.adjust().draw();
</script>
