@model IEnumerable<ProjetoESW.Models.AccountMovements>

@{
    ViewData["Title"] = "Index";
    if (ViewData["layout"] == "")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="card">
    <div class="header">
        <h2>Lista de Movimentos</h2>
    </div>
    <div class="body">
        <table class="table" id="movements">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Accounting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ammount)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Accounting.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (item.Ammount > 0)
                        {
                            <span>Crédito</span>
                        }
                        else
                        {
                            <span>Débito</span>
                        }
                    </td>
                    <td>
                        @(string.Format("{0:C}", Math.Abs(item.Ammount)))
                    </td>
                    <td>
                        <a style="cursor: pointer;" onclick="erase(@item.AccountMovementsID)"><li class="fa fa-trash"></li></a> 
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>



<script>
        function erase(id) {
            swal({
                title: "Confirmar?",
                text: "Tem a certeza que pretende eliminar este Movimento?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#5e3023',
                cancelButtonColor: '#cf5c36',
                confirmButtonText: 'Sim, Eliminar!',
                cancelButtonText: 'Não, Cancelar!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "get", 
                        url: "/AccountMovements/Delete/" + id,
                        ajaxasync: true,
                        success: function () {
                            location.reload();
                        }
                    });
                } else {
                    swal("Cancelado", "Tipo de Item não vai ser eliminado", "error");
                }
            });
        }
</script>

<script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>

<script>
        //Exportable table
        var table = $('#movements').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });

        table.columns.adjust().draw();
</script>
