@model ProjetoESW.Models.Colonies.Colony

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="header">
        <h2>Colónia: @Html.DisplayFor(model => model.Name)</h2>
    </div>
</div>

<div class="col-md-4">
    <div id="listaApontamentos" class="card col-md-12">
        <div class="header">
            <h2>Lista de Apontamentos</h2>
        </div>
        <div class="body">
            @foreach (var item in Model.Appointments.OrderBy(a=>a.Date))
            {

                <p><i style="cursor: pointer;" onclick="DeleteAppointment(@item.ID);" class="fas fa-trash-alt"></i> <b>@item.Date.ToShortDateString()</b></p>
                <p>@Html.DisplayFor(modelItem => item.Note)</p>
                
                <hr />
                

                
            }
        </div>
    </div>
    <div class="card col-md-12">
        <div class="header">            
            <h2>Adicionar Apontamento</h2>
        </div>
        <div class="body">
            <div class="form-group col-md-12">
                <label class="control-label">Data de Realização</label>
                <input id="AppointmentDate" class="form-control">
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Apontamento</label>
                <textarea id="AppointmentDesc" class="form-control"></textarea>
            </div>
            <a onclick="addAppointment();" class="btn btn-primary btn-export">
                <i class="fa fa-plus"></i> Adicionar Apontamento
            </a>
        </div>
    </div>
</div>
<div class="col-md-8">
@Html.Partial("../Animals/index", Model.Animals, new ViewDataDictionary(ViewData) { { "layout", "none" }, {"Colony", Model.ID} })


<div class="card">
    <div class="header">
        <h2>@Html.DisplayFor(model => model.Location)</h2>
    </div>
    <div class="body">

        <div style="height: 500px;" id="map"></div>
    </div>
</div>
</div>

<script src="~/plugins/momentjs/moment.js"></script>
<script src="~/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script>
    $('#AppointmentDate').bootstrapMaterialDatePicker({ weekStart: 0, time: false});


    initAutocomplete();
    //alert("lat: @Model.GetLatitude(), lng: @Model.GetLongitude()");
    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: @Model.GetLatitude(), lng: @Model.GetLongitude() },
            zoom: 50,
            mapTypeId: 'satellite'
        });


        new google.maps.Marker({
            position: { lat: @Model.GetLatitude(), lng: @Model.GetLongitude() },
            map: map
        });
    }
    

    function addAppointment() {

        var Date = document.getElementById("AppointmentDate").value;
        var Note = document.getElementById("AppointmentDesc").value;

        if (Date === "" ||  Note === "")
            swal({
                text: 'Tem de preencher todos os campos',
                type: 'error'
            });
        else
            swal({
                title: 'Confirmar?',
                text: 'Pretende Adicionar este Apontamento?',
                type: "warning",
                buttons: true,
                dangerMode: true,
                showCancelButton: true
            }).then(function(result) {
                $.ajax({
                    type: "post",
                    url: "/Appointments/MyCreate?Date=" + Date + "&Appoint=" + Note + "&Colony=" + @Model.ID ,
                    ajaxasync: true,
                    success: function() {
                        location.reload();
                    }
                });
            });
    }

    function DeleteAppointment(id) {

        swal({
                title: 'Confirmar?',
                text: 'Pretende Apagar este Apontamento?',
                type: "error",
                buttons: true,
                dangerMode: true,
                showCancelButton: true
            }).then(function(result) {
                $.ajax({
                    type: "post",
                    url: "/Appointments/Delete/"+id,
                    ajaxasync: true,
                    success: function() {
                        location.reload();
                    }
                });
            });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUZ8_O03cS9hUMhJbTQ0rOIjskzNcDzds&libraries=places&callback=initAutocomplete"
        async defer></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUZ8_O03cS9hUMhJbTQ0rOIjskzNcDzds&libraries=places"></script>



<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }
</style>

<!-- // API Key - AIzaSyCUZ8_O03cS9hUMhJbTQ0rOIjskzNcDzds -->

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
